{{ define "main" }}
{{ .Content }}

<hr />
<p>
Have a question about WildGums projects? Use <a href="https://stackoverflow.com/questions/tagged/catel" target="_blank">StackOverflow</a> with the <i>Catel</i> tag!
</p>
<hr />
<p>
<h2>Discussion</h2>
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
// Always use vNext so comments stay visible
this.page.url = 'http://opensource.wildgums.com/{{ .URL }}';
//this.page.url = '{{ .File.Path | absURL }}';
this.page.identifier = '{{.File.Path}}';
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://wildgums-opensource.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</p>

{{ end }}