{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get "filename")) }}
{{ $command := .Get "command" }}
{{ $options := .Get "options" }}
{{ $alignment := .Get "alignment" }}
{{ $title := .Get "title" }}

{{ if in $original.Name "gif" }}
{{ .Scratch.Set "image" $original }}
{{ else if eq $command "Fit"}}
{{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
{{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
{{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else }}
{{ errorf "Invalid image processing command: Must be one of Fit, Fill or Resize."}}
{{ end }}
{{ $image := .Scratch.Get "image" }}
<div style="text-align: {{ $alignment }};">
  <figure style="padding: 0.25rem; margin: auto; display: inline-block">
      <img style="max-width: 100%; width: auto; height: auto; margin: auto; display: block;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
      <figcaption style="text-align: left; display: block">
        <small>
        {{ with .Inner | markdownify }}
        {{ . }}
        {{ else }}
          {{ if (not (eq $title "")) }}
            {{ $title }}
          {{ end }}
        {{ end }}
        </small>
      </figcaption>
  </figure>
</div>