html,
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    background: #e5e5e5;
    -webkit-box-sizing: border-box;
}

#header {
    width: 100%;
    height: 88px;
    float: left;
    display: block;
    background-color: rgb(1, 42, 60);
}

#header .logo {
    text-align: center;
    color: white;
    font-weight: bold;
    float: left;
    padding-right: 16px;
    padding-left: 16px;
}


#header .shortcuts {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    line-height: 88px;
    display: flex;
    flex-direction: row;
}

#header .shortcuts li {
    list-style: none;
    list-style-type: none;
    list-style-image: none;
}

#header .shortcuts li a {
    display: block;
    padding: 0 1em;
    color: #d0d0d0;
    -webkit-font-smoothing: auto;
}

#header .shortcuts h3 {
    display: none;
}








/* sidebar */

#sidebar {
    background: #e5e5e5;
    width: 25%;
    max-width: 300px;
    height: 100%;
    float: left;
}

#sidebar #header-wrapper {
    display: none;
}

#sidebar .highlightable {
    /*padding: 0rem 0 0rem;*/
    /*overflow: auto;*/
    /*position: relative;*/
    /*height: 100%;*/
    padding: 0px 0px;
}

#sidebar a {
    color: rgb(8, 130, 183);
    display: block;
    padding: 1px 5px;
}

#sidebar a:hover {
    background-color: white;
}

#sidebar .searchbox, #sidebar #shortcuts, #sidebar #clear-history  {
    display: none;
}

#sidebar ul.topics {
    list-style: none;
    padding-left: 10px;
    margin-left: 0px margin-top: 1.7rem;
    margin-bottom: 1.7rem;
}

#sidebar ul.topics > li{
    margin-bottom: 5px;
}

#sidebar ul.topics ul {
    display: none;
}



#sidebar ul.topics li.parent>ul,
#sidebar ul li.active>ul {
    display: block;
}

#sidebar ul.topics li.active>a {
    font-weight: bold;
}



#sidebar ul.topics li ul {
    list-style: none;
    font-size: 13px;

    padding-left: 15px;
    margin-bottom: 15px;
}

#sidebar ul.topics .category-icon {
    /*display: block;*/
    float: right;
    padding-top: 6px;
    margin-left: -17px;
    padding-right: 5px;
    /*top: 0px;*/
}

#sidebar ul.topics .read-icon {
    display: none;
}







/* Content */

#main {
    display: flex;
    min-width: 75%;
    min-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#main #breadcrumbs {
    display:none;
}

#main .searchbox {
    margin: 0rem 0rem 0rem;
    padding: 1rem 1rem;
    height: 0;
    min-height: 0rem;
    color: rgb(1, 42, 60);
}

#main .searchbox input {
	border: 1px solid rgb(204, 204, 204);
    color: rgb(85, 85, 85);
    display: inline-block;
    font-size: 14px;
	line-height: 20px;

   
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 6px;
    width: 100%;
}


#main .searchbox span {
	position: absolute;
	float: right;
	margin-top: -45px;
	right: 30px;
    cursor: pointer;
}

#edit-github-link {
    position: relative;
    float: right;
    display: block;
    font-size: smaller;
}






/* Content page */

#main #content {
    color: rgb(80, 80, 80);
    font-size: 18px;
    line-height: 31.5px;
    padding-top: 36px;
    padding-left: 36px;
    padding-right: 36px;
}


#main #content a {
    color: rgb(8, 130, 183);
    font-weight: normal;
}

#main #content h1,
#main #content h2,
#main #content h3,
#main #content h4,
#main #content h5,
#main #content h6 {
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: -1px;
}

#main #content code {
    font-family: "Consolas", menlo, monospace;
    font-size: 92%;
    border-radius: 2px;
    white-space: nowrap;
    color: #616161;
    background: #FFF7DD;
    border: 1px solid #ffeeb8;
    padding: 0px 2px;
    
}


#main #content pre code {
    background: inherit;
    white-space: inherit;
    border: 0;
    color:white;
    /*line-height: 1.15;*/
}

#main #content pre {
    line-height: 1.15;
}

#main #content img {
    max-width: 100%;
    margin: 0rem auto;
    display: block;
    text-align: center;
}

#main #content pre {
    border-radius: 0;
    color: #ffffff;
    background: #012a3c;
}

#main #content table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e6e6e6;
    table-layout: auto;
    width: 100%;
    margin-bottom: 2em;
}

#main #content table td {
    border-bottom: 1px solid #e5e5e5;
    vertical-align: middle;
    padding: 0.5rem;
    border: 1px solid #e6e6e6;
    color: #323232;
}

#main #content table th {
    border-bottom: 2px solid #e5e5e5;
    background-color: white;
    color: black;
    vertical-align: middle;
    padding: 0.5rem;
    background: #f6f6f6;
    padding: 0.5rem;
    color: #323232;
}






/* next prev chevrons */

#main #navigation {
    margin-top: 2rem;
    position: relative;
    width: 100%;
    display: table;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

#main #navigation .nav {
    color: #e5e5e5;
    font-size: 4em;
    display: table-cell;
    position: static;
    top: auto;
    width: 50%;
    height: 1rem;
    padding: 1rem 2rem 2.25rem;
}

#main #navigation .nav.nav-prev {
    text-align: left;
    padding-left: 4rem;
}

#main #navigation .nav.nav-next {
    text-align: right;
    padding-right: 4rem;
}



#main .anchor {
    color: red;
    font-size: 0.5em;
    cursor: pointer;
    visibility: hidden;
    margin-left: 0.5em;
    position: absolute;
    margin-top: 0.1em;
}


#main h2:hover .anchor, #main h3:hover .anchor, #main h4:hover .anchor, #main h5:hover .anchor, #main h6:hover .anchor {
  visibility: visible; }


.clippy-icon {
  display:none;
}

.tooltipped {
  position: relative; }

.tooltipped:after {
  position: absolute;
  z-index: 1000000;
  display: none;
  padding: 5px 8px;
  font: normal normal 11px/1.5 "Lato", "Work Sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre;
  pointer-events: none;
  content: attr(aria-label);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased; }

.tooltipped:before {
  position: absolute;
  z-index: 1000001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent; }

.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
  display: inline-block;
  text-decoration: none; }

.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
  top: 100%;
  right: 50%;
  margin-top: 5px; }

.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.8); }

.tooltipped-se:after {
  right: auto;
  left: 50%;
  margin-left: -15px; }

.tooltipped-sw:after {
  margin-right: -15px; }

.tooltipped-n:after, .tooltipped-ne:after, .tooltipped-nw:after {
  right: 50%;
  bottom: 100%;
  margin-bottom: 5px; }

.tooltipped-n:before, .tooltipped-ne:before, .tooltipped-nw:before {
  top: -5px;
  right: 50%;
  bottom: auto;
  margin-right: -5px;
  border-top-color: rgba(0, 0, 0, 0.8); }

.tooltipped-ne:after {
  right: auto;
  left: 50%;
  margin-left: -15px; }

.tooltipped-nw:after {
  margin-right: -15px; }

.tooltipped-s:after, .tooltipped-n:after {
  transform: translateX(50%); }

.tooltipped-w:after {
  right: 100%;
  bottom: 50%;
  margin-right: 5px;
  transform: translateY(50%); }

.tooltipped-w:before {
  top: 50%;
  bottom: 50%;
  left: -5px;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.8); }

.tooltipped-e:after {
  bottom: 50%;
  left: 100%;
  margin-left: 5px;
  transform: translateY(50%); }

.tooltipped-e:before {
  top: 50%;
  right: -5px;
  bottom: 50%;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.8); }